<div class="container my-4">
  <div class="row" style="width: 1500px;">
    <div class="col-12 col-md-6">
      <h5>Willkommen beim Wachau-Hub – dem Biodiversitätsportal für die Wachau!</h5>
      <p>Hier finden Sie Informationen zur Artenvielfalt in der Weltkulturerbe-Region, entdecken Sie diverse Tiere, Pflanzen und Pilze.</p>
      <p>Der Wachau-Hub wurde im Zuge eines Abschlussprojekts der HTL Krems 2019/2020 erstellt und gehört zum Biodiversitäts-Atlas Österreich. Die Funddaten werden vom Biodiversitäts-Atlas Österreich bezogen und laufend um neue Beobachtungen ergänzt.</p>
      <p>Der Wachau-Hub wie auch der Biodiversitäts-Atlas basieren auf der Open-Source Softwarearchitektur des Atlas of Living Australia – der nationalen Biodiversitätsdatenbank von Australien</p>
      <p>Viel Vergnügen beim Entdecken der Vielfalt!</p>
    </div>
    <div class="col-12 col-md-6">
      ​<picture>
        <img src="images/schmetterling.jpg" class="img-fluid" alt="Bildunterschrift" style="width: 400px; padding-left:100px;">
      </picture>
    </div>
  </div>
</div>
